body {
  font-family: 'Khand', sans-serif;
  background: #457fca;  fallback for old browsers */ -->
 background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.top-well {
  margin-top: 15px;
}

.title {
  font-size: 25px;
}
input {
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
button {
  width: 11em;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }

  .fadeInRight {
-webkit-animation-name: fadeInRight;
animation-name: fadeInRight;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes fadeInRight {
0% {
opacity: 0;
-webkit-transform: translate3d(100%, 0, 0);
transform: translate3d(100%, 0, 0);
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none;
}
}
@keyframes fadeInRight {
0% {
opacity: 0;
-webkit-transform: translate3d(100%, 0, 0);
transform: translate3d(100%, 0, 0);
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none;
}
}

.fadeIn {
 -webkit-animation-name: fadeIn;
 animation-name: fadeIn;
 -webkit-animation-duration: 1s;
 animation-duration: 1s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
 }
 @-webkit-keyframes fadeIn {
 0% {opacity: 0;}
 100% {opacity: 1;}
 }
 @keyframes fadeIn {
 0% {opacity: 0;}
 100% {opacity: 1;}
 }

.warn {
    padding: 5px;
    background-color: #ef8b8b;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 10;
    margin: 5px;
    margin-right: 8px;
    margin-bottom: 25px;
    border-radius: 10px;
    width: 350px;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    margin-top: 13px;
    margin-right: 2px;
    font-size: 44px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.warntext{
  margin-top: 11px;
  margin-left: 5px;
  font-size: 14px;
}
.btn{
  width: 95%;


  background-color: white;
  border: solid, 1px;
  border-color: gray;
}
.btn:hover{
  background-color: grey;
  color: white;
}
